body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
h4,
h3,
h2 {
  color: darkblue;
}

p {
  font-family: "Tahoma";
  font-size: medium;
  color: darkblue;
}
button {
  background-color: #4c4eaf;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Change background color of buttons and table rows on hover */
button:hover {
  background-color: rgb(39, 148, 39);
}

tr:hover {
  background-color: #f5f5f5;
}
